<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="azureStorage" type="System.Configuration.ConfigurationSection, System.Configuration" />
  </configSections>

  <!-- Azure Storage 连接字符串 -->
  <connectionStrings>
    <!-- 方式1: 使用连接字符串 -->
    <add name="AzureStorage" 
         connectionString="DefaultEndpointsProtocol=https;AccountName=your_storage_account;AccountKey=your_storage_key;EndpointSuffix=core.windows.net"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Azure Storage 配置 -->
  <azureStorage>
    <settings>
      <!-- 存储账户名称 -->
      <add key="StorageAccountName" value="your_storage_account" />
      <!-- 存储账户密钥 -->
      <add key="StorageAccountKey" value="your_storage_key" />
      <!-- 文件共享名称 -->
      <add key="FileShareName" value="your-fileshare" />
      <!-- 最大上传文件大小 (MB) -->
      <add key="MaxUploadSizeMB" value="100" />
      <!-- 支持的文件类型 -->
      <add key="AllowedFileTypes" value="*.*" />
    </settings>
  </azureStorage>

  <appSettings>
    <add key="webpages:Version" value="3.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="102400" executionTimeout="3600" />
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
